.pio*
.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json
include/settings.h
.vscode
.vscode/*
data/.nfs*
src/.nfs*
/oldFiles/
.nfs*
.travis*
*.code-workspace
.vscode/c_cpp_properties.json
.vscode/launch.json