#define MYSSID "NETGEAR83"
#define PASSWORD ""
#define MQTT_USERNAME "emonpi"
#define MQTT_PASSWORD ""
#define MQTT_SERVER "192.168.1.190"
#define MQTT_PUB_TOPIC "EspOledTemp"
#define APPNAME "EspOledTemp"
#define NTPSERVERNAME "pool.ntp.org"
#define GMTOFFSET 3600        // In seconds
#define DAYLIGHTOFFSET 3600  // In seconds
#define LOCALTZ "Etc/GMT-2"
